*{margin: 0;padding: 0;}
html,body,.wrapper{height: 100%;}
.wrapper{
  display: flex;
  flex-flow:row wrap;
  justify-content:flex-start;
  align-items: stretch;
  align-content:stretch;
}
.wrapper > div{
  padding: 20px 50px;
}
ul {
  list-style: none;
  border-top: 1px solid;
}
ul li {
  padding:10px 5px;
  border-bottom: 1px solid;
}
ul span:first-of-type:after {
  content:':';
  display: inline-block;
  margin: 0 10px
}
.left-col {
  flex: 0 0.5 200px;
  border:1px solid;
  background-color:#def;
}
.left-col h2 {
  margin-bottom:20px;
  text-align:center;
}
.wrapper .right-col {
  flex: 0 0.5 calc(100% - 702px);
  border:#f00;
  padding-left: 200px;
  padding-right: 200px;
}
.right-col label{
  display: block;
}
.right-col input[type=text] {
  border:1px solid #000;
  background-color: #def;
  padding: 10px 20px;
  width:200px;
  margin:20px 0
}
.right-col input[type=submit]{
  border:1px solid #000;
  background-color: #def;
  padding: 10px 20px;
}
.result {
  display: inline-block;
  margin-top:70px;
border-bottom: 1px solid;
width: 200px;
}
